.header{
    display: grid;
    height: 150px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    margin-bottom: 10px;
}

.header_box{
    background-color: royalblue;
}


.main{
    height: 600px;
    grid-template-columns: 1fr 2fr 2fr;
    
}
.left{
    width: 20%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-row-gap: 10px;
}

.left_box{
    background-color: red;
}

.center{
    height: 600px;
    display: grid;
    width: 40%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.violett{
    grid-column-gap: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.violet_box{
    background-color: blueviolet;
}

.yellow{
    grid-column-gap: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.yellow_box{
    background-color: yellow
}