
.table{
    border: px solid #000;
    color: black;
}

.header{
    color: black;
    display: flex;
    text-align: center;
    border: px solid #000;
    font-weight: bold;
}

.box-1{
    width: 400px;
    border: 1px solid #000;
}
.box-2{
    width: 400px;
    border: 1px solid #000;
}

.box-3{
    width: 200px;
    border: 1px solid #000;
}
.box-4{
    width: 200px;
    border: 1px solid #000;
}

.bodybox{
    color: black;
    display: flex;
    border: px solid #000;
    
}

.name{
    
    text-align: center;
}

.name1{
    text-align: center;
    width: 802px;
}