/* .ul{
    display: block;
    margin-block-start: 6em;
} */

}
.table{
    border: px solid #000;
    color: black;
}

.header{
    color: black;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    font-weight: bold;
}

.box-1{
    width: 400px;
    border: 1px solid #000;
}
.box-2{
    width: 400px;
    border: 1px solid #000;
}

.box-3{
    width: 200px;
    border: 1px solid #000;
}
.box-4{
    width: 200px;
    border: 1px solid #000;
}

.bodybox{
    color: black;
    display: inline-block;
    border: 1px solid #000;
    
}

.name{
    
    text-align: center;

}

.bodybox1{
    color: black;
    display: inline-block;
    border: 1px solid #000;
    
}

.name1{
    color: red;
    
    width: 806px;
   

}
/* .bodyheight{
    padding-top:  30px;
    padding-bottom: 30px;
} */



.green{
    color: green;
}

.blue{
    color: blue;
}

.height{
    height: 60px;
    padding-top: 40px;
}

.ulAlexandr{
    height: 65px;
}
