.table{
    display: table; 
    border: 1px solid black; 
    margin: 16px; 
    padding: 3px;
    
}
.caption{
    display: table-caption; 
    border: 1px solid black
}
.header_cell{
    width: 300px;
    display: inline-block; 
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
}

.cell_name{
    
}

.cell{
    width: 300px;
    display: table-cell; 
    border: 1px solid black;
}

.name{
    text-align: center;
}
.cell{
    display:inline-block;
    margin: 0px; 
}
.row{
    display: table-row; border: 0px solid black;
}
.header{
    display: table-row; border: 0px solid black;
    
}

